.job-search-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.job-search-wrapper .input-group {
    margin: 5px;
}

img.logo {
    max-width: 165px;
    border-radius: 2px;
}
